.nav-custom{
    background-color: #151e3d;
    color: white;
}


.sec--3--cont-col-4{
    height: 18rem;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
    padding-bottom: 10px;
    /* border-radius: 5px; */
    /* border: 1px solid #ccc; */
    margin: 20px;        
}

/* CSS for card flip animation */
.card-flip {
  position: relative;
  width: 100%;
  height: 18rem;
  perspective: 1000px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid #ccc;

  /* margin-top: 200px; */
}

.card-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.5s;
  backface-visibility: hidden;
  
}

.card-front {
  background-color: #151e3d;
  color: white;
  padding-top: 120px;
  text-align: center;
  
}

.card-back {
  /* background-color: #e74c3c; */
  /* color: brown; */
  transform: rotateY(180deg);
}

.card-flip:hover .card-inner {
  transform: rotateY(180deg);
}

.card-flip:hover .card-back{
  transform: rotateY(0deg);
  
}

.car-item-cus{
  width: 150px;
  margin-left: 550px;
  /* padding-left: 50px; */
  /* height: 28rem;  */
}

.carousal-slide-cus{
  background-color: #151e3d;
  color: #ccc;
  height: 22rem;
  /* padding: 100px; */
}

.carousal-slide-blockq{
  padding-left: 200px;
  padding-right: 200px;
}